:root{
    --primary-background-color: #84a3f6;
    --background-light:white;

    --primary-text-color:#5b5c5b;

    --light-text-color:white;

    --paragraph-text-color:#ababab;
    --heading-text-color:#868ba2;

}